# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/
ENV/
*.egg-info/
.eggs/

# Ignore local configuration files
# *.env
*.local
*.log

# Ignore tests and temporary files
tests/
tmp/
*.tmp

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore Git files
.git/
.gitignore

models/
data/
dataset/